# Spawn the secrets with: openssl rand -hex 32

AUTHELIA_JWT_SECRET=REPLACE_WITH_OPENSSL_RAND_HEX_32
AUTHELIA_SESSION_SECRET=REPLACE_WITH_OPENSSL_RAND_HEX_32
AUTHELIA_STORAGE_KEY=REPLACE_WITH_OPENSSL_RAND_HEX_32

TZ=Europe/Madrid
